html, body {
    margin: 0;
    padding: 0;
    width:100%; 
    height:100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/**********header***************/

header{
    flex-grow: 0.1;
    display: flex;
    flex-direction: row;
}

header > .sub_header{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub_header > .log_menu{
   display: flex;
   flex-direction: row;
   flex-grow: 1;
   align-items: center;
}

.log_menu > .logo{
    padding-top: 16px ;
    padding-right: 15px ;
    padding-bottom: 16px ;
    padding-left: 21px ;
}

.log_menu > .notice{
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    height: 100%;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.2857142857142858em !important;
    color: #484848 !important;
    cursor: pointer;
}

.log_menu > .notice:hover{
    border-bottom: solid 3px #008489;
}


.log_menu > .rsv{
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    height: 100%;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.2857142857142858em !important;
    color: #484848 !important;
    cursor: pointer;
}

.log_menu > .rsv:hover{
    border-bottom: solid 3px #008489;
}

.log_menu > .house{
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    height: 100%;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.2857142857142858em !important;
    color: #484848 !important;
    border-bottom: solid 3px #008489;
    cursor: pointer;
}

.log_menu > .house:hover{
    border-bottom: solid 3px #008489;
}

.log_menu > .profit{
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    height: 100%;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.2857142857142858em !important;
    color: #484848 !important;
    cursor: pointer;
}

.log_menu > .profit:hover{
    border-bottom: solid 3px #008489;
}


.sub_header > .top_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top_menu > .hSaveBtn{
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 6px 15px 6px 15px;
    background-color: #008489;
    border-radius: 2em;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.top_menu > .userMenu{
    border: solid 1px;
    margin-top: 20px !important;
    margin-right: 16px !important;
    margin-bottom: 16px !important;
    margin-left: 16px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DDDDDD !important;
    border-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin-top: 8px;
    cursor: pointer;
}

.userMenu:hover{
    box-shadow: 2px 2px 2px 2px rgba(109, 108, 108, 0.2);
}

.userMenu > .my_profile{
    margin-left: 12px;
    border-radius: 50% !important;
    border: solid 1px #DDDDDD;
}

.userMenu > .drop_menu{
    position: absolute;
    right: 80px;
    top: 70px;
    width: 256px;
    height: 309px;
    border: 1px solid #DDDDDD !important;
    border-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: none;
    background-color: white;
    z-index: 3;

    
}

.drop_menu > .main_menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.main_menu > .menu_item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    border-bottom:  1px solid #DDDDDD !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.menu_item > div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu_item > div:hover{
    border-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #e5e5e5;
}

/**********container***************/

.container{
    flex-grow: 5.9;
    border-top: solid 1px #DDDDDD;
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    margin-left: 24px;
    margin-right: 24px;
}

.container > .title{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container > .title > h2{
    flex-grow: 0.3;
}

.container > .title > .search{
    flex-grow: 9.7;
}

.search > .sh_cotainer{
    width:46%;
    border: solid 1px rgb(235, 235, 235);
   
    border-radius: 4px !important;
   
}

.search >.sh_cotainer> .sh_main{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.sh_main > button{
    padding: 12px;
    border:0 none; background-color:transparent; cursor:pointer;
}

.sh_main > button:focus{
    outline: none;
}

.sh_main > input{
    width: 504px;
    border: none;
    font-size: 100%;
}

.sh_main > input:focus { outline: none; }

/***************host_table***************/

.container > .host_table{
    flex-grow: 9;
    border-collapse: collapse;
   
}

.trBorder {
    border-bottom: 1px solid #DDDDDD;
   
}
/*
tr > .ch_host{
   text-align: center;
   padding-top: 16px;
   padding-bottom: 16px;
   padding-left: 8px;
   padding-right: 8px;
   
}

tr > .ch_host > input{
    cursor: pointer;
}
*/
thead >  tr > .hostWork{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
 }

 tbody > tr > .hostWork{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(217, 57, 0);
 }
 
tr > .host_house{
   display: flex;
   align-items: center;
   padding-top: 16px;
   padding-bottom: 16px;
   padding-left: 8px;
   padding-right: 8px;
   cursor: pointer;
}

.host_house > img{
    margin-right: 30px;
    height: 47px;
    width: auto;
}

tr > .br_qty{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

tr > .bed_qty{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

tr > .wr_qty{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

tr > .addr{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px ;
    font-weight: 600 ;
    color: #484848 !important;
}

tr > .r_dt{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px ;
    font-weight: 600 ;
    color: #484848 !important;
}

thead > tr > .sysMenu{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    
}

tbody > tr > .sysMenu{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

.sysMenu > .sysMenu_item{
    position: absolute;
    right: 0px;
    left: 1650px;
    background: rgb(255, 255, 255) !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 36px 2px !important;
    overflow-y: auto !important;
    padding: 0px !important;
    margin: 4px 0px 0px !important;
    list-style: none !important;
    width: 10%;
    display: none;
    flex-direction: column;
    text-align: left;
}

.sysMenu_item > a{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #F2F2F2 ;
    text-decoration: none;
    color: black;
}

.sysMenu_item > a:hover{
    background-color: #e7e7e7;
}

.sysMenu_item > div{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #F2F2F2 ;
}


.sysMenu_item > div:hover{
    background-color: #e7e7e7;
}

/*****************삭제 팝업**********************/ 
.del_pop{
    display: none; 
    background-color: rgba(255, 255, 255, 0.8) ;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
}

.del_pop > .dp_main{
    overflow: auto;
    background-color: #fff;
    width: 28%;
    height: 20%;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px !important;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 32px;
}

.close-modal{
    flex-grow: 0.3;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.close-modal > span{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.close-modal > span:hover{
    background-color: rgb(211, 210, 210);
    border-radius: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.dp_item1{
    flex-grow: 1.23;
    font-size: 24px !important;
    font-weight: 800 !important;
    line-height: 1.25em !important;
    color: #484848 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.dp_item2{
    flex-grow: 1.23;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.375em !important;
    color: #484848 !important;
}

.dp_item3{
    flex-grow: 1.23;
    font-size: 16px !important;
}

.dp_item3 > .delete{
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: solid 2px #008489;
    background-color: #008489;
    color: white;
    font-weight: 600 !important;
    cursor:pointer;
}

.dp_item3 > .cancel{
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: solid 2px #008489;
    color: #008489;
    font-weight: 600 !important;
    cursor:pointer;
}
/***데이터 없을때 나오는 태그***********/

.void_tr > .void_td{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px !important;
    font-weight: 800 !important;
    line-height: 1.375em !important;
    color: #484848 !important;
}

.void_item > a{
    color: teal;
}

.void_item > a:hover{
    border-bottom: solid 1px teal;
}


/**********footer***************/

footer{
    flex-grow: 4;
    background-color: rgb(230, 230, 230);
}

/*********************************/
img{
    object-fit: cover;
}

a { text-decoration:none } 

