html, body {
    margin: 0;
    padding: 0;
    width:100%; 
    height:100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/**********header***************/

header{
    flex-grow: 0.1;
    display: flex;
    flex-direction: row;
}

header > .sub_header{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub_header > .log_menu{
   display: flex;
   flex-direction: row;
   flex-grow: 1;
   align-items: center;
}

.log_menu > .logo{
    padding-top: 16px ;
    padding-right: 15px ;
    padding-bottom: 16px ;
    padding-left: 21px ;
}

.log_menu > .notice{
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    height: 100%;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.2857142857142858em !important;
    color: #484848 !important;
    cursor: pointer;
}

.log_menu > .notice:hover{
    border-bottom: solid 3px #008489;
}


.log_menu > .rsv{
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    height: 100%;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.2857142857142858em !important;
    color: #484848 !important;
    cursor: pointer;
}

.log_menu > .rsv:hover{
    border-bottom: solid 3px #008489;
}

.log_menu > .house{
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    height: 100%;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.2857142857142858em !important;
    color: #484848 !important;
    cursor: pointer;
}

.log_menu > .house:hover{
    border-bottom: solid 3px #008489;
}

.log_menu > .profit{
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
    height: 100%;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.2857142857142858em !important;
    border-bottom: solid 3px #008489;
    color: #484848 !important;
    cursor: pointer;
}

.log_menu > .profit:hover{
    border-bottom: solid 3px #008489;
}


.sub_header > .top_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top_menu > .hSaveBtn{
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 6px 15px 6px 15px;
    background-color: #008489;
    border-radius: 2em;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

.top_menu > .userMenu{
    border: solid 1px;
    margin-top: 20px !important;
    margin-right: 16px !important;
    margin-bottom: 16px !important;
    margin-left: 16px !important;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DDDDDD !important;
    border-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin-top: 8px;
    cursor: pointer;
}

.userMenu:hover{
    box-shadow: 2px 2px 2px 2px rgba(109, 108, 108, 0.2);
}

.userMenu > .my_profile{
    margin-left: 12px;
    border-radius: 50% !important;
    border: solid 1px #DDDDDD;
}

.userMenu > .drop_menu{
    position: absolute;
    right: 80px;
    top: 70px;
    width: 256px;
    height: 309px;
    border: 1px solid #DDDDDD !important;
    border-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    display: none;
    background-color: white;
    z-index: 3;

    
}

.drop_menu > .main_menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}


 .menu_item1,.menu_item2,.menu_item3,.menu_item4,.menu_item5,.menu_item6{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
}
 .menu_item1:hover,.menu_item2:hover,.menu_item3:hover,.menu_item4:hover,.menu_item5:hover,.menu_item6:hover{
    background-color: #e5e5e5;
}

.menu_item3{
    border-bottom: 1px solid #DDDDDD !important;
}

.menu_item5{
    border-bottom: 1px solid #DDDDDD !important;
}

/**********container***************/

.container{
    flex-grow: 6.9;
    border-top: solid 1px #DDDDDD;
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}

.ctnt_main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 32px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: 111px;
    margin-right: 111px;
}

.ctnt_main > .ctnt_title{
    flex-grow: 0.2;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #EBEBEB ;
}


.ctnt_title > .review {
    font-size: 16px;
    font-weight: 600;
    color: #008489; 
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 32px;
    border-bottom: solid 2px #008489 ;
    text-decoration: none; outline: none;
}

.ctnt_title > .income {
    font-size: 16px;
    font-weight: 600;
    color: #484848; 
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 32px;
    text-decoration: none; outline: none;
}


.ctnt_main > .ctnt_item{
    margin-top: 56px;
    margin-bottom: 32px;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    flex-direction: column;
    flex-grow: 9.8;
}

.ctnt_item > .search{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50%;
}

.search > .sh_title{
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.375em !important;
    color: #484848 !important;
    padding-bottom: 10px;
}

.search > .i_host{
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

.ctnt_item >  .ctnt_menu {
    flex-grow: 0.1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sco_all {
    color: #008489;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: solid 1px #EBEBEB ;
    border-bottom: solid 2px #008489 ;
    border-left: solid 1px #EBEBEB ;
    cursor: pointer;
}


.sco_1 {
    font-size: 14px;
    font-weight: 600;
    color: #EBEBEB;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: solid 1px #EBEBEB ;
    border-bottom: solid 1px #EBEBEB ;
    border-left: solid 1px #EBEBEB ;
    border-right: solid 1px #EBEBEB ;
    cursor: pointer;
}

.sco_2 {
    font-size: 14px;
    font-weight: 600;
    color: #EBEBEB;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: solid 1px #EBEBEB ;
    border-bottom: solid 1px #EBEBEB ;
    border-left: solid 1px #EBEBEB ;
    cursor: pointer;
}

.sco_3 {
    font-size: 14px;
    font-weight: 600;
    color: #EBEBEB;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: solid 1px #EBEBEB ;
    border-bottom: solid 1px #EBEBEB ;
    border-left: solid 1px #EBEBEB ;
    cursor: pointer;
}

.sco_4 {
    font-size: 14px;
    font-weight: 600;
    color: #EBEBEB;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: solid 1px #EBEBEB ;
    border-bottom: solid 1px #EBEBEB ;
    border-left: solid 1px #EBEBEB ;
    cursor: pointer;
}

.sco_5 {
    font-size: 14px;
    font-weight: 600;
    color: #EBEBEB;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: solid 1px #EBEBEB ;
    border-bottom: solid 1px #EBEBEB ;
    border-left: solid 1px #EBEBEB ;
    border-right: solid 1px #EBEBEB ;
    cursor: pointer;
}



.ctnt_item >  .review_main {
    flex-grow: 9.9;
    display: flex;
    flex-direction: column;
}

.review_main > .rv_ctnt{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.rv_item1 {
    display: flex;
    flex-direction: column;
    flex-grow: 7;
    margin-right: 40px;
}

.rv_item1 > .rv_void{
    margin-top: 24px;
    flex-grow: 1;
    background-color: #F2F2F2 ;
    border: 0.5px solid #EBEBEB ;
    border-radius: 3px ;
    display: block ;
    height: 153px ;
    width: 100% ;
}

.rv_item1 > .rv_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    flex-grow: 0.1;
    border: 0.5px solid #EBEBEB ;
    border-radius: 3px ;
    flex-flow: 0.1;
    width: 100% ;
    box-shadow: 2px 2px 2px 2px rgba(109, 108, 108, 0.2);

}

.rv_main > .host_room{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.host_room > img{
   width: auto;
   height: 100px;
}

.host_review {
    display: flex;
    flex-direction: column;
    flex-flow: 1;
   
}

.host_review > .host_rv_nm{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    flex-flow: 1;
}


.host_rv_nm > img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.host_rv_nm > .rv_nm{
    margin-left: 12px;
}

.rv_nm > .nm{
    color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}

.rv_nm > .day{
    color: rgb(113, 113, 113) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.host_review > .contents{
	flex-flow: 9;
}



.host_room > .rv_room_title{
    color: rgb(34, 34, 34) !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px !important;
}

.rv_main > .host_review{
    flex-grow: 9;
}

.rv_item2 {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
}

.rv_item2 > div{
    margin-top: 22px;
}

.rv_item2 > .score_avg{
    flex-grow: 1;
}

.score_avg > .avg{
    font-size: 40px;
    font-weight: 600;
}

.avg > .fa-star{
    color: #FFB400;
    font-size: 24px;
}

.rv_item2 > .review_qty{
    flex-grow: 1;
}

.review_qty > .qty{
    font-size: 40px;
    font-weight: 600;
}

/**********footer***************/

footer{
    flex-grow: 3;
    background-color: rgb(230, 230, 230);
}

/************기타*********************/
img{
    object-fit: cover;
}

a { text-decoration:none } 

